<div ng-include="'components/navbar/navbar.html'"></div>

<div id="mainPage">
  <header id="banner">
    <div class="container">
      <h1 class="crisp">Slack Bot Reminders</h1>
      <h3>Send reminders to your team's slack channels from Slack Bot</h3>
    </div>
  </header>

  <div id="content" class="container">
    <h3 class="form-header text-center">Enter your team name and Slack Bot token below to get started.</h3>
    <form class="form-horizontal" role="form" name="form" ng-submit="go(form)" novalidate>
    
      <div class="form-group" ng-class="{ 'has-error': form.teamName.$invalid && submitted }">
        <label for="inputTeamName" class="col-sm-2 control-label">Team Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputTeamName" name="teamName" placeholder="Team Name" ng-model="teamName" required>
        </div>
      </div>
      
      <div class="form-group" ng-class="{ 'has-error': form.token.$invalid && submitted }">
        <label for="inputToken" class="col-sm-2 control-label">Slack Bot Token</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputToken" name="token" placeholder="Token" ng-model="token" required>
        </div>
      </div>
      
      <div class="form-group has-error">
        <p class="help-block" ng-show="(form.teamName.$error.required || form.token.$error.required) && submitted">
           Please enter a team name and token
        </p>
        <p class="help-block">{{ errors.other }}</p>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Go!</button>
        </div>
      </div>
      
    </form>
    
    <div class="footnote text-center">
      <strong>NOTE:</strong> There is no validation built for this part of the application. Invalid team names and tokens cannot be modified for reminders created.
    </div>
  </div>

  <footer id="footer">
    <div class="container">
      <p>
        <a href="https://www.facebook.com/joestetz" target="_blank">FB @Joe Stetzer</a> | <a href="/contact">Contact Directly</a>
      </p>
    </div>
  </footer>
</div>